# generic editor config : https://aka.ms/editorconfigdocs
# vs editor config : https://docs.microsoft.com/fr-ca/visualstudio/ide/create-portable-custom-editor-options
# full github example : https://github.com/davidwengier/dbupgrader/blob/master/.editorconfig
# format : options_name = false|true : none|suggestion|warning|error
# usefull tools : https://marketplace.visualstudio.com/items?itemName=MadsKristensen.EditorConfig
# Documentation: 
# https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/editorconfig-naming-conventions.md

# top-most EditorConfig file
root = true

[*.json]
charset = utf-8

###################################################################
######################### All C# files ############################
###################################################################
[*.cs]


###################### this qualificator ##########################

#dotnet_style_qualification_for_field = false : warning
#dotnet_style_qualification_for_property = false : warning
#dotnet_style_qualification_for_method = false : warning
#dotnet_style_qualification_for_event = false : warning


###################### Language keywords instead of framework type names for type references ##########################

#dotnet_style_predefined_type_for_locals_parameters_members = true : warning
#dotnet_style_predefined_type_for_member_access = true : warning


###################### Modifier preferences ##########################

#dotnet_style_require_accessibility_modifiers = always : error
#dotnet_style_require_accessibility_modifiers = for_non_interface_members : error
# done by codemaid
#csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async
#dotnet_style_readonly_field = true : error


###################### Expression-level preferences ##########################

#dotnet_style_object_initializer = true : error
#dotnet_style_collection_initializer = true : error
# why not ?
#dotnet_style_explicit_tuple_names = true : error
#dotnet_style_prefer_inferred_tuple_names = false : error
#dotnet_style_prefer_inferred_anonymous_type_member_names = false : error


###################### Null-checking preferences ##########################

#dotnet_style_coalesce_expression = true : error
#dotnet_style_null_propagation = true : error


###################### Implicit and explicit types ##########################

#csharp_style_var_for_built_in_types = false : warning
#csharp_style_var_when_type_is_apparent = true : warning
#csharp_style_var_elsewhere = true : warning

# Do not prefer "var" everywhere
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
csharp_style_var_elsewhere = false:suggestion


###################### Expression-bodied members ##########################

#csharp_style_expression_bodied_methods = false : error
#csharp_style_expression_bodied_constructors = false : warning
#csharp_style_expression_bodied_constructors = false : warning
#csharp_style_expression_bodied_properties = true : warning
#csharp_style_expression_bodied_indexers = true : warning
#csharp_style_expression_bodied_accessors = false : warning


###################### Pattern matching ##########################

#csharp_style_pattern_matching_over_is_with_cast_check = false : error
#csharp_style_pattern_matching_over_as_with_null_check = false : error


###################### Inlined variable declarations ##########################

#csharp_style_inlined_variable_declaration = true : warning


###################### Expression-level preferences ##########################

#csharp_prefer_simple_default_expression = false : warning
#csharp_style_deconstructed_variable_declaration = false : warning
#csharp_style_pattern_local_over_anonymous_function = false : warning


###################### "Null" checking preferences ##########################

# do not work in vs 2013 
#csharp_style_throw_expression = false: error
#csharp_style_conditional_delegate_call = true : warning


###################### Code block preferences ##########################

#csharp_prefer_braces = true : warning


###################### Organize usings ##########################

# codemaid done it
#dotnet_sort_system_directives_first = true
#csharp_new_line_before_open_brace = true : error
#csharp_new_line_before_else = false : error
#csharp_new_line_before_catch = true : error
#csharp_new_line_before_finally = true : error
#csharp_new_line_before_members_in_object_initializers = true : error
#csharp_new_line_before_members_in_anonymous_types = true : error
#csharp_new_line_between_query_expression_clauses = true : error


###################### Indentation options ##########################

#csharp_indent_case_contents = true : error
#csharp_indent_switch_labels = true : error
#csharp_indent_labels= flush_left : error


###################### Spacing options ##########################

#csharp_space_after_cast = false : warning
#csharp_space_after_keywords_in_control_flow_statements = false : warning
#csharp_space_between_method_declaration_parameter_list_parentheses = false : warning
#csharp_space_between_method_call_parameter_list_parentheses = false : warning


###################### Wrapping options ##########################

#csharp_preserve_single_line_statements = false : error
#csharp_preserve_single_line_blocks = true : error


###################### naming_rule ##########################


#Async
#example : void funcAsync()
dotnet_naming_rule.async_methods_end_in_async.symbols				= any_async_methods
dotnet_naming_rule.async_methods_end_in_async.style = end_in_async
dotnet_naming_rule.async_methods_end_in_async.severity = error
dotnet_naming_symbols.any_async_methods.applicable_kinds			= method
dotnet_naming_symbols.any_async_methods.applicable_accessibilities	= *

dotnet_naming_symbols.any_async_methods.required_modifiers			= async
dotnet_naming_style.end_in_async.required_suffix					= Async
dotnet_naming_style.end_in_async.capitalization						= pascal_case


#const
#example :  const string MY_CONST
dotnet_naming_rule.const_must_be_all_upper.symbols				= const_symbols
dotnet_naming_symbols.const_symbols.applicable_kinds			= field
dotnet_naming_symbols.const_symbols.required_modifiers          = const
dotnet_naming_symbol.const_symbols.applicable_accessibilities	= *

dotnet_naming_rule.const_must_be_all_upper.style = other_style
dotnet_naming_style.const_style.capitalization					= pascal_case
dotnet_naming_rule.const_must_be_all_upper.severity = error

#static readonly 
#example : public/protected/private static readonly string MY_CONST
dotnet_naming_rule.static_readOnly_must_be_all_upper.symbols				= static_readOnly_symbols
dotnet_naming_symbols.static_readOnly_symbols.applicable_kinds				= field
dotnet_naming_symbols.static_readOnly_symbols.required_modifiers			= static, readonly
dotnet_naming_symbol.static_readOnly_symbols.applicable_accessibilities		= *

dotnet_naming_rule.static_readonly_must_be_all_upper.style = static_readOnly_style
dotnet_naming_style.static_readOnly_style.required_prefix					= m_
dotnet_naming_style.static_readOnly_style.capitalization					= pascal_case
dotnet_naming_rule.static_readonly_must_be_all_upper.severity = error

#parameter
#example :  void fct(object p_myParameter)
dotnet_naming_rule.parameter_must_be_pascal.symbols				= parameter_symbols
dotnet_naming_symbols.parameter_symbols.applicable_kinds        = parameter
dotnet_naming_rule.parameter_must_be_pascal.style = parameter_style
dotnet_naming_style.parameter_style.capitalization				= pascal_case
dotnet_naming_style.parameter_style.required_prefix				= p_
dotnet_naming_rule.parameter_must_be_pascal.severity = suggestion

#field
#example :  private/protected/public object m_myPrivateValue
dotnet_naming_rule.field_must_have_underscore.symbols								= field_must_have_underscore_symbols
dotnet_naming_symbols.field_must_have_underscore_symbols.applicable_kinds			= field
dotnet_naming_symbol.field_must_have_underscore_symbols.applicable_accessibilities	= *
dotnet_naming_style.field_style.required_prefix										= m_
dotnet_naming_style.field_style.capitalization										= pascal_case
dotnet_naming_rule.field_must_have_underscore.style = static_readOnly_style
dotnet_naming_rule.field_must_have_underscore.severity = error


#local variable
#example :  var v_myValue
dotnet_naming_rule.local_variable.symbols							= local_variable_symbols
dotnet_naming_symbols.local_variable_symbols.applicable_kinds		= local
dotnet_naming_rule.local_variable.style = local_style
dotnet_naming_style.local_style.required_prefix						= v_
dotnet_naming_style.local_style.capitalization						= pascal_case
dotnet_naming_rule.local_variable.severity = error

#property, event, delegate, function, enum
#example :  object MyPublicValue
#example :   void MyFct()
dotnet_naming_rule.public_must_be_camel.symbols						= public_symbols
dotnet_naming_symbols.public_symbols.applicable_kinds				= property,method,event,delegate, enum
dotnet_naming_symbols.public_symbols.applicable_accessibilities		= *

dotnet_naming_rule.public_must_be_camel.style = other_style
dotnet_naming_style.public_style.capitalization						= pascal_case
dotnet_naming_rule.public_must_be_camel.severity = error


#interface
#example :  Interface IMyInterface
dotnet_naming_rule.interface_must_start_by_i_pascal.severity = error
dotnet_naming_rule.interface_must_start_by_I_pascal.symbols			= interface_symbol
dotnet_naming_rule.interface_must_start_by_i_pascal.style = camel_with_underscore
dotnet_naming_symbols.interface_symbol.applicable_kinds				= interface
dotnet_naming_symbols.interface_symbol.applicable_accessibilities	= *
dotnet_naming_style.camel_with_underscore.capitalization			= pascal_case
dotnet_naming_style.camel_with_underscore.required_prefix			= I


#class, struct, interface
#example :  class MyClass
#example :  Struct MyStruct
#example :  Interface MyInterface
dotnet_naming_rule.other_must_be_camel.symbols					= other_symbols
dotnet_naming_symbols.other_symbols.applicable_kinds			= class,struct
dotnet_naming_symbols.other_symbols.applicable_accessibilities	= public

dotnet_naming_rule.other_must_be_camel.style = other_style
dotnet_naming_style.other_style.capitalization					= pascal_case
dotnet_naming_rule.other_must_be_camel.severity = error
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_indent_labels = one_less_than_current
csharp_space_around_binary_operators = before_and_after
csharp_prefer_static_local_function = true:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_allow_embedded_statements_on_same_line_experimental = true:silent
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = true:silent
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true:silent
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_prefer_pattern_matching = true:silent
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion



[*.{cs,vb}]
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_readonly_field = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent
dotnet_style_allow_multiple_blank_lines_experimental = true:silent
dotnet_code_quality_unused_parameters = all:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_method = false:silent